name: prebuild

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  prebuild:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: darwin-x64
            os: macos-14
            arch: x64
          - name: darwin-arm64
            os: macos-14
            arch: arm64
          - name: win32-x86
            os: windows-2022
            arch: ia32
            node: x86
          - name: win32-x64
            os: windows-2022
            arch: x64
          - name: linux-x64
            os: ubuntu-22.04
            arch: x64
          - name: linux-arm64
            os: ubuntu-22.04-arm
            arch: arm64
    name: Build ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    steps:
      - if: matrix.node
        uses: actions/setup-node@v6
        with:
          node-version: 18
          architecture: ${{ matrix.node }}
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - if: contains(matrix.os, 'ubuntu')
        run: |
          sudo apt-get update
          sudo apt-get install -y libdbus-1-dev
      - if: contains(matrix.os, 'macos')
        uses: jwlawson/actions-setup-cmake@v2.0
        with:
          cmake-version: '3.21.x'
      - if: contains(matrix.os, 'windows')
        uses: microsoft/setup-msbuild@v2.0.0
      - run: yarn install
      - run: yarn prebuild --arch=${{ matrix.arch }}
      - run: tar -zcvf ${{ matrix.name }}.tar.gz -C prebuilds .
      - uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.name }}
          path: ${{ matrix.name }}.tar.gz
          retention-days: 1
  release:
    needs: prebuild
    name: Release
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
        with:
          path: artifacts
      - uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: artifacts/*/*.tar.gz
